@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

@keyframes animacion{
    0% {transform: rotate(0deg);}
    25% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    75% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

body{
    font-size: 1.6rem;
    background-image: url(imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.container{
    margin: 0 auto;
    width: 85%;
}

#pokedex{
    display: flex;
    width: 90%;
    height: 700px;
    background-color: rgb(145, 11, 11);
    justify-content: space-between;
    margin: 9.5rem  auto;
    border-radius: 5rem;
    align-items: center;
}


#paginaderecha{
    width: 49%;
    height: 105%;
    border: 8px solid black;
    border-radius: 3rem;
    background-color: rgb(145, 11, 11);
}


#paginaizquierda{
    width: 49%;
    height: 105%;
    border: 8px solid black;
    border-radius: 3rem;
    background-color: rgb(145, 11, 11);
}
/* PAGINA IZQUIERDA */
.botoncitos{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}
.botoncitos i{
border-radius: 4rem;
font-size: 3.5rem;
text-shadow: 3px 3px black;

}
#grandesin{
    font-size: 6rem;
}
.pantallita{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 30%;
    width: 85%;
    background-color: bisque;
    margin: 0 auto;
    border-radius: 2rem;
    border: 4px solid black;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}
.imgsquirtle{
    background-image: url(imagenes/vamoacalmarno.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.fotito h2{
    text-align: center;
    font-weight: bold;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.5rem;
}

.descripcion{
display: flex;
justify-content: center;
align-items: center;
}
.descripcion p{
    font-size: 1.1rem;
    font-family:  'Press Start 2P', cursive;
    line-height: 1.5rem;
}
.tipo label{
    display: block;
}
label{
    font-family:  'Press Start 2P', cursive;
}
.tipo button{
    border-radius: .5rem;
    background-color: rgb(52, 94, 183);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 10rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.debilidad label{
    display: block;
}
.debilidad button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.verde{
    background-color: rgb(28, 145, 47);
    width: 12rem;
}
.amarillo{
    background-color: rgb(228, 191, 42);
    width:16rem ;
}
.segundapantallita{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallita p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.2rem;
}
.segundapantallita i{
    font-size: 2rem;
    font-weight: 600;
}
.evoluciones_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px;
}
.evoluciones{
    margin-top: 1rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.2rem;
}
.evolucion1{
    background-image: url(imagenes/vamoacalmarno.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion2{
    background-image: url(evoluciones/squirtle/wartortle.png);
    background-size: 13rem;
    grid-column: 2;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion3{
    background-image: url(evoluciones/squirtle/blastoise.png);
    background-size: 13rem;
    grid-column: 3;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
/*PAGINA DERECHA*/
#paginaderecha{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#paginaderecha::-webkit-scrollbar{
    display: none;
}
.clefairy{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.clefairy img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.clefairy p{
    font-family:  'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.wigglytuff{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.wigglytuff img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.wigglytuff p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.bellsprout{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bellsprout img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.bellsprout p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.hydreigon{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hydreigon img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.hydreigon p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.magikarp{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.magikarp img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.magikarp p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.marill{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.marill img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.marill p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.mew{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mew img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.mew p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.piplup{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.piplup img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.piplup p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.psyduck{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.psyduck img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.psyduck p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.salamence{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.salamence img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.salamence p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.snorlax{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.snorlax img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.snorlax p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.teddiursa{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.teddiursa img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.teddiursa p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.zoroark{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.zoroark img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.zoroark p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.ditto{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ditto img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.ditto p{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.link{
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
}

/*CLEFAIRY*/

.imgclefairy{
    background-image: url(imagenes/Clefairy.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tipoclefa button{
    border-radius: .5rem;
    background-color: rgb(227, 140, 198);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 10rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.debilidadclefa button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.gris{
    background-color: rgb(144, 146, 145);
    width: 12rem;
}
.violeta{
    background-color: rgb(134, 43, 195);
    width:16rem ;
}
.segundapantallitaclefa{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitaclefa p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.1rem;
}
.segundapantallitaclefa i{
    font-size: 2rem;
    font-weight: 600;
}

.evolucion1clefa{
    background-image: url(evoluciones/clefairy/cleffa.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion2clefa{
    background-image: url(imagenes/Clefairy.png);
    background-size: 13rem;
    grid-column: 2;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion3clefa{
    background-image: url(evoluciones/clefairy/cleffable.png);
    background-size: 13rem;
    grid-column: 3;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.squirtle{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.squirtle img{
    height: 90%;
    width: 18%;
    margin: .2rem 1rem;
}
.squirtle p{
    font-family:  'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

/*WIGGYTUFF*/

.imgwiggly{
    background-image: url(imagenes/wigglytuff.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tipowiggly button1{
    border-radius: .5rem;
    background-color: rgb(227, 140, 198);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 10rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.tipowiggly button2{
    border-radius: .5rem;
    background-color: rgb(173, 173, 173);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 10rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.debilidadwiggly button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.segundapantallitawiggly{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitawiggly p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.1rem;
}
.segundapantallitawiggly i{
    font-size: 2rem;
    font-weight: 600;
}
.evolucion1wiggly{
    background-image: url(evoluciones/wigglytuff/igglybuff.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion2wiggly{
    background-image: url(evoluciones/wigglytuff/jigglypuff.png);
    background-size: 13rem;
    grid-column: 2;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion3wiggly{
    background-image: url(imagenes/wigglytuff.png);
    background-size: 13rem;
    grid-column: 3;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
/*BELLSPROUT*/
.imgbells{
    background-image: url(imagenes/bellsprout.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tipobells button1{
    border-radius: .5rem;
    background-color: rgb(55, 178, 92);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 10rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.tipobells button2{
    border-radius: .5rem;
    background-color: rgb(115, 42, 163);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 10rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.debilidadbells button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.celeste{
    background-color: rgb(32, 109, 197);
    width: 12rem;
}
.azul{
    background-color: rgb(37, 37, 185);
    width: 10rem;
}
.rosa{
    background-color: rgb(218, 128, 185);
    width: 14rem;
}
.segundapantallitabells{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitabells p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.3rem;
}
.segundapantallitabells i{
    font-size: 2rem;
    font-weight: 600;
}
.evolucion1bells{
    background-image: url(imagenes/bellsprout.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion2bells{
    background-image: url(evoluciones/bellsprout/weepinbell.png);
    background-size: 13rem;
    grid-column: 2;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion3bells{
    background-image: url(evoluciones/bellsprout/victreebell.png);
    background-size: 13rem;
    grid-column: 3;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}

/*HYDREIGON*/

.imghydre{
    background-image: url(imagenes/hydreigon.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tipohydre button1{
    border-radius: .5rem;
    background-color: rgb(66, 72, 68);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 10rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.tipohydre button2{
    border-radius: .5rem;
    background-color: rgb(149, 20, 50);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 10rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.debilidadhydre button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.naranja{
    background-color: rgb(190, 92, 36);
    width: 14rem;
}
.rojo{
    background-color: rgb(128, 22, 22);
}
.segundapantallitahydre{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitahydre p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.3rem;
}
.segundapantallitahydre i{
    font-size: 2rem;
    font-weight: 600;
}
.evolucion1hydre{
    background-image: url(evoluciones/hydreigon/deino.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion2hydre{
    background-image: url(evoluciones/hydreigon/Zweilous.png);
    background-size: 13rem;
    grid-column: 2;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion3hydre{
    background-image: url(imagenes/hydreigon.png);
    background-size: 13rem;
    grid-column: 3;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}

/*MAGIKARP*/
.imgmagi{
    background-image: url(imagenes/magikarp.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tipomagi button{
    border-radius: .5rem;
    background-color: rgb(23, 59, 175);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 10rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.debilidadmagi button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.segundapantallitamagi{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitamagi p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.3rem;
}
.segundapantallitamagi i{
    font-size: 2rem;
    font-weight: 600;
}
.evoluciones_gridmagi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
}
.evolucion1magi{
    background-image: url(imagenes/magikarp.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion2magi{
    background-image: url(evoluciones/magikarp/gyarados.png);
    background-size: 13rem;
    grid-column: 2;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
/*MARILL*/
.imgmarill{
    background-image: url(imagenes/marill.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tipomarill button1{
    border-radius: .5rem;
    background-color: rgb(44, 82, 205);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 10rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.tipomarill button2{
    border-radius: .5rem;
    background-color: rgb(220, 141, 213);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 10rem;
    margin: 1rem .5rem;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.debilidadmarill button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.segundapantallitamarill{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitamarill p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.1rem;
}
.segundapantallitamarill i{
    font-size: 2rem;
    font-weight: 600;
}
.evolucion1marill{
    background-image: url(evoluciones/marill/azurill.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion2marill{
    background-image: url(imagenes/marill.png);
    background-size: 13rem;
    grid-column: 2;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion3marill{
    background-image: url(evoluciones/marill/azumarill.png);
    background-size: 13rem;
    grid-column: 3;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
/*MEW*/
.imgmew{
    background-image: url(imagenes/mew.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tipomew button{
    border-radius: .5rem;
    background-color: rgb(210, 110, 172);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 13rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.debilidadmew button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.segundapantallitamew{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitamew p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1rem;
}
.segundapantallitamew i{
    font-size: 2rem;
    font-weight: 600;
}
.evoluciones_gridmew{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px;
}
.evolucion1mew{
    background-image: url(imagenes/mew.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
/*PIPLUP*/
.imgpiplup{
    background-image: url(imagenes/piplup.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tipopiplup button{
    border-radius: .5rem;
    background-color: rgb(41, 85, 179);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 13rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.debilidadpiplup button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.segundapantallitapiplup{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitapiplup p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1rem;
}
.segundapantallitapiplup i{
    font-size: 2rem;
    font-weight: 600;
}
.evolucion1piplup{
    background-image: url(imagenes/piplup.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion2piplup{
    background-image: url(evoluciones/piplup/prinplup.png);
    background-size: 13rem;
    grid-column: 2;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion3piplup{
    background-image: url(evoluciones/piplup/empoleon.png);
    background-size: 13rem;
    grid-column: 3;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
/*PSYDUCK*/
.imgpsy{
    background-image: url(imagenes/psyduck.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tipopsy button{
    border-radius: .5rem;
    background-color: rgb(41, 85, 179);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 13rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.debilidadpsy button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.segundapantallitapsy{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitapsy p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.1rem;
}
.segundapantallitapsy i{
    font-size: 2rem;
    font-weight: 600;
}
.evoluciones_gridpsy{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
}
.evolucion1psy{
    background-image: url(imagenes/psyduck.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion2psy{
    background-image: url(evoluciones/psyduck/golduck.png);
    background-size: 13rem;
    grid-column: 2;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
/*SALAMENCE*/

.imgsala{
    background-image: url(imagenes/salamence.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tiposala button1{
    border-radius: .5rem;
    background-color: rgb(166, 22, 14);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 13rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.tiposala button2{
    border-radius: .5rem;
    background-color: rgb(138, 182, 212);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 13rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.debilidadsala button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.mostaza{
    background-color: rgb(81, 77, 33);
    width: 10rem;
}
.segundapantallitasala{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitasala p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.1rem;
}
.segundapantallitasala i{
    font-size: 2rem;
    font-weight: 600;
}
.evolucion1sala{
    background-image: url(evoluciones/salamence/bagon.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion2sala{
    background-image: url(evoluciones/salamence/shelgon.png);
    background-size: 13rem;
    grid-column: 2;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion3sala{
    background-image: url(imagenes/salamence.png);
    background-size: 13rem;
    grid-column: 3;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}

/*SNORLAX*/
.imgsnorlax{
    background-image: url(imagenes/snorlax.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tiposnorlax button{
    border-radius: .5rem;
    background-color: rgb(136, 136, 136);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 13rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.debilidadsnorlax button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.segundapantallitasnorlax{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitasnorlax p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.1rem;
}
.segundapantallitasnorlax i{
    font-size: 2rem;
    font-weight: 600;
}
.evoluciones_gridsnorlax{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
}
.evolucion1snorlax{
    background-image: url(evoluciones/snorlax/munchlax.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion2snorlax{
    background-image: url(imagenes/snorlax.png);
    background-size: 13rem;
    grid-column: 2;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
/*TEDDIURSA*/
.imgteddi{
    background-image: url(imagenes/teddiursa.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tipoteddi button{
    border-radius: .5rem;
    background-color: rgb(136, 136, 136);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 13rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.debilidadteddi button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.segundapantallitateddi{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitateddi p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.1rem;
}
.segundapantallitateddi i{
    font-size: 2rem;
    font-weight: 600;
}
.evolucion1teddi{
    background-image: url(imagenes/teddiursa.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion2teddi{
    background-image: url(evoluciones/teddiursa/Ursaring.png);
    background-size: 13rem;
    grid-column: 2;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion3teddi{
    background-image: url(evoluciones/teddiursa/Ursaluna.png);
    background-size: 13rem;
    grid-column: 3;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
/*ZOROARK*/
.imgzoro{
    background-image: url(imagenes/zoroark.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tipozoro button{
    border-radius: .5rem;
    background-color: rgb(60, 60, 60);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 13rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.debilidadzoro button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.segundapantallitazoro{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitazoro p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.1rem;
}
.segundapantallitazoro i{
    font-size: 2rem;
    font-weight: 600;
}
.evoluciones_gridzoro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
}
.evolucion1zoro{
    background-image: url(evoluciones/zoroark/zorua.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
.evolucion2zoro{
    background-image: url(imagenes/zoroark.png);
    background-size: 13rem;
    grid-column: 2;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}
/*DITTO*/
.imgditto{
    background-image: url(imagenes/ditto.png);
    background-size: 13rem;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tipoditto button{
    border-radius: .5rem;
    background-color: rgb(117, 117, 117);
    color: rgb(4, 4, 4);
    font-size: 1.2rem;
    width: 13rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
    border: 2px solid black;
}
.debilidadditto button{
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}
.segundapantallitaditto{
    width: 85%;
    height: 15%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.segundapantallitaditto p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1rem;
}
.segundapantallitaditto i{
    font-size: 2rem;
    font-weight: 600;
}
.evoluciones_gridditto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px;
}
.evolucion1ditto{
    background-image: url(imagenes/ditto.png);
    background-size: 13rem;
    grid-column: 1;
    background-repeat: no-repeat;
    height: 80%;
    background-position: center center;
    margin: 2rem;
}