/*----------------------------------------------------------------------------------------*/
/*SECCION DE IMPORTS, ANIMACIONES Y ESTILOS PRINCIPALES*/
/*----------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

@keyframes animacion{
    0% {transform: rotate(0deg);}
    25% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    75% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

@keyframes animacion_2 {
    0% {transform: rotate(0deg);}
    30% {transform: rotate(12deg);}
    60% {transform: rotate(-12deg);}
    100% {transform: rotate(0deg);}
}

body{
    font-size: 1.6rem;
    background-image: url(imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.container{
    margin: 0 auto;
    width: 85%;
}

#pokedex{
    display: flex;
    width: 90%;
    height: 780px;
    background-color: rgb(145, 11, 11);
    justify-content: space-between;
    margin: 9.5rem  auto;
    border-radius: 5rem;
    align-items: center;
}

#paginaderecha{
    width: 49%;
    height: 105%;
    border: 8px solid black;
    border-radius: 3rem;
    background-color: rgb(145, 11, 11);
}

#paginaizquierda{
    width: 49%;
    height: 105%;
    border: 8px solid black;
    border-radius: 3rem;
    background-color: rgb(145, 11, 11);
}

/*----------------------------------------------------------------------------------------*/
/*SECCION DE LA PAGINA IZQUIERDA: */
/*----------------------------------------------------------------------------------------*/

.botoncitos{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.botoncitos i{

    border-radius: 4rem;
    font-size: 3.5rem;
    text-shadow: 3px 3px black;
}

#grandesin{
    font-size: 6rem;
}

.pantallita{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 30%;
    width: 85%;
    background-color: #ffe4c4;
    margin: 0 auto;
    border-radius: 2rem;
    border: 4px solid black;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.imgstyle{
    background-position: center center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.imgstyle img{
    max-width: 95%;
    max-height: 95%;
}

.fotito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fotito h2{
    text-align: center;
    font-weight: bold;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.5rem;
}

.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion p{
    font-size: 1.1rem;
    font-family:  'Press Start 2P', cursive;
    line-height: 1.5rem;
}

.tipo label{
    display: block;
}

label{
    font-family:  'Press Start 2P', cursive;
}

.tipo button{
    border-radius: .5rem;
    background-color: bisque;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}

.debilidad label{
    display: block;
}

.debilidad button{
    background-color: #c3deff;
    border-radius: .5rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family:  'Press Start 2P', cursive;
    padding: .5rem;
}

.segundapantallita{
    width: 85%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.segundapantallita p{
    padding: .5rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.2rem;
}

.segundapantallita i{
    font-size: 2rem;
    font-weight: 600;
}


/*----------------------------------------------------------------------------------------*/
/*EVOLUCIONES DEFINE LOS ESTILOS DEL TEXTO "EVOLUCIONES: "*/
/*----------------------------------------------------------------------------------------*/

.evoluciones{
    margin-top: 1rem;
    font-family:  'Press Start 2P', cursive;
    font-size: 1.2rem;
    height: 40%;
}

/*----------------------------------------------------------------------------------------*/
/*SECCION DE PAGINA DE LA DERECHA*/
/*----------------------------------------------------------------------------------------*/

#paginaderecha{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#paginaderecha::-webkit-scrollbar{
    display: none;
}

.Botones_pokemons{
    border-radius: 2rem;
    background-color: bisque;
    border: 4px solid black;
    margin: 2rem auto;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Botones_pokemons img:hover{
    animation-name: animacion_2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.Botones_pokemons p{
    font-family:  'Press Start 2P', cursive;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

/*----------------------------------------------------------------------------------------*/
/*SECCION DE EVOLUCIONES: CAJA CONTENEDORA Y ESTILOS DE LA IMAGEN INTERIOR CORRESPONDIENTE*/
/*----------------------------------------------------------------------------------------*/

.evoluciones_pokemon{
    width: 100%;
    height: 50%;
    background-color: bisque;
    margin-top: 1rem;
    border-radius: 2rem;
    border: 4px solid black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#Tope_imagen{
    height: 100%;
    display: flex;
    align-self: center;
}